<!DOCTYPE html>
<html>
  <%include file="common_header.html"/>
  <body>
  <%include file="common_menu.html"/>

  <div class="max_id" style="display:none">${max_id}</div>
  <div class="csrf_token" style="display:none">${csrf_token}</div>

  <div class="probootstrap-main">
    <!-- ... contents ... -->
    <section style="padding-left: 5px; padding-right: 5px;">
      <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">

          <div class="card" style="margin-bottom: 15px;">
            <div class="card-body">
              체크리스트 (チェックリスト) <button onclick="addingClick()" type="button" class="btn btn-outline-primary floatright">추가</button>
            </div>
          </div>
          <div class="card" style="padding:15px;">

            <div class="post-title">앞으로 해야할 일</div>
            <small class="marginbottom15">これからすべきこと</small>

            <div class="adding-layer"></div>
            <div class="plus-layer"></div>

            % for item in no_list:
            <div id="post${item[0]}" class="alert alert-secondary" role="alert">
              ${item[1]}
              <div class="margintop10">
                <button onclick="checkClick('post${item[0]}')" type="button" class="btn btn-outline-success floatright marginleft5">체크</button>
                <button onclick="deleteClick('post${item[0]}')" type="button" class="btn btn-outline-danger floatright">삭제</button>
              </div>
            </div>
            % endfor

            <div class="post-title">이미 같이 했어요</div>
            <small class="marginbottom15">すでにようました</small>

            <div class="check-layer"></div>

            % for item in ok_list:
            <div class="alert alert-success" role="alert">
              ${item[1]} (${item[2]})
            </div>
            % endfor

          </div>

        </div>
      </div>
    </section>
    <!-- ... contents ... -->
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <%include file="common_script.html"/>

  </body>
</html>
