<!DOCTYPE html>
<html>
  <%include file="common_header.html"/>
  <body>
  <%include file="common_index.html"/>

  <div class="probootstrap-main">

    <section class="probootstrap-section-half">
      <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(/static/backend/img/iriyong2.png)"></div>
      <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">
          <h1 class="heading">아이리 x 진용</h1>
          <p></p>
          <p>아이리와 오빠의 추억의 공간</p>
          <p>세상에서 제일 귀엽고 사랑스러운 아이리를 위해 만든 서비스</p>
          <hr/>
          <p>あいりとおっぱの思い出の空間</p>
          <p>世界で一番可愛くて愛らしいあいりのために作ったサービス</p>
          <hr/>
          <p><a href="/checklist" class="btn btn-primary">체크리스트 볼꺼야?</a></p>
          <p><a href="/movie" class="btn btn-primary">아니면 영화 볼래?</a></p>
          <!--<p><a href="/memory" class="btn btn-primary">둘다 싫으면 추억을 한번 구경해봐</a></p>-->
        </div>
      </div>
    </section>
    <!-- END section -->

  </div>
  <footer class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2018 <a href="https://github.com/h4ppyy/">h4ppyy</a>. All Rights Reserved. <a href="/admin"><button style="margin-left: 100px" type="button" class="btn btn-outline-dark">관리자 페이지 이동</button></a></p>
        </div>
      </div>
    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <%include file="common_script.html"/>
  </body>
</html>
