<!DOCTYPE html>
<html>
  <%include file="common_header.html"/>
  <body>
  <%include file="common_menu.html"/>

  <div class="probootstrap-main">
    <!-- ... contents ... -->
    <section style="padding-left: 5px; padding-right: 5px;">
      <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">

          <div class="card" style="margin-bottom: 15px;">
            <div class="card-body">
              영화 (映画)
            </div>
          </div>

            <div class="row" style="padding:15px;">

            % for item in movie_list:
            <a class="pagerLink" href="/movieDetail/${item[0]}">
            <div class="card col-sm" style="padding:5px; margin-bottom: 10px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="post-sum" src="${item[7].replace('/home/ubuntu/project/iriyong/backend/','')}">
                  </div>
                  <div class="col" style="width: 200px;">
                    <div class="subdisplay">영화명</div>
                    <div class="fontsize90">${item[1]}</div>
                    <div class="subdisplay">장르</div>
                    <div class="fontsize90">${item[2]}</div>
                    <div class="subdisplay">개봉일</div>
                    <div class="fontsize90">${item[3]} 개봉</div>
                    <div class="subdisplay">상영시간</div>
                    <div class="fontsize90">${item[4]}분</div>
                    <div class="subdisplay">국가</div>
                    <div class="fontsize90">${item[5]}</div>
                  </div>
                </div>
              </div>
            </div>
            </a>
            % endfor

            <!--
            <a class="pagerLink" href="/movieDetail">
            <div class="card col-sm" style="padding:5px; margin-bottom: 10px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="post-sum" src="/static/backend/img/movie_sample2.png">
                  </div>
                  <div class="col">
                    <div class="subdisplay">영화명</div>
                    <div class="fontsize90">신고질라</div>
                    <div class="subdisplay">장르</div>
                    <div class="fontsize90">SF, 액션, 드라마</div>
                    <div class="subdisplay">개봉일</div>
                    <div class="fontsize90">2017.03.08 개봉</div>
                    <div class="subdisplay">상영시간</div>
                    <div class="fontsize90">120분</div>
                    <div class="subdisplay">국가</div>
                    <div class="fontsize90">일본</div>
                  </div>
                </div>
              </div>
            </div>
            </a>

            <a class="pagerLink" href="/movieDetail">
            <div class="card col-sm" style="padding:5px; margin-bottom: 10px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="post-sum" src="/static/backend/img/movie_sample3.png">
                  </div>
                  <div class="col">
                    <div class="subdisplay">영화명</div>
                    <div class="fontsize90">ビルギャル</div>
                    <div class="subdisplay">장르</div>
                    <div class="fontsize90">드라마</div>
                    <div class="subdisplay">개봉일</div>
                    <div class="fontsize90">2016.09.21 개봉</div>
                    <div class="subdisplay">상영시간</div>
                    <div class="fontsize90">117분</div>
                    <div class="subdisplay">국가</div>
                    <div class="fontsize90">일본</div>
                  </div>
                </div>
              </div>
            </div>
            </a>
            -->

            </div>



        </div>
      </div>
    </section>
    <!-- ... contents ... -->
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <%include file="common_script.html"/>

  </body>
</html>
