<!DOCTYPE html>
<html>
  <%include file="common_header.html"/>
  <body>
  <%include file="common_menu.html"/>

  <div class="probootstrap-main">
    <!-- ... contents ... -->
    <section style="padding-left: 5px; padding-right: 5px;">
      <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">

          <div class="card" style="margin-bottom: 15px;">
            <div class="card-body">
              신고질라 (新ゴジラ)
            </div>
          </div>

          <div class="card" style="padding:15px;">
                <video controls>
                  <source src="movie.mp4" type="video/mp4">
                </video>
          </div>
          <div class="card" style="margin-bottom: 15px;">
            <div class="card-body">
              <img src="/static/backend/img/help.png" style="width: 100%; margin-bottom:10px">
              <div class="fontsize90">
                <div class="post-title">핸드폰으로 보는거야?</div>
                핸드폰에 "자동회전"으로 바꾸고</br>
                영화를 전체화면으로 보도록 해</br>
                <hr>
                <div class="post-title">컴퓨터로 보는거야?</div>
                그러면 전체화면 클릭해서 크게 봐!</br>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- ... contents ... -->
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="/static/backend/js/bootstrap.min.js"></script>
  <script src="/static/backend/js/scripts.js"></script>
  <script src="/static/backend/js/main.js"></script>

  </body>
</html>
