<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIRI x JINYONG</title>

    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
      .hanna {
        font-family: 'Hanna', serif;
      }

      .black {
        color: black
      }

      .post-title{
        font-weight: bold;
      }

      .floatright{
        float:right
      }

      .marginbottom15{
        margin-bottom: 15px;
      }

      .post-sum{
        width: 140px;
      }
      .subdisplay{
        font-size: 80%;
        color: #aaaaaa;
      }
      .fontsize90{
        font-size: 90%;
      }
      .pagerLink{
        text-decoration: none !important;
      }
    </style>
  </head>
  <body>

  <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header" style="position: inherit;">
    <div class="container">
        <a href="index.html" class="probootstrap-logo hanna black">아이리 x 진용</a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>메뉴</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="index.html">홈</a></li>
            <li><a href="checklist.html">체크리스트</a></li>
            <li><a href="movie.html">영화 보러가기</a></li>
            <li><a href="memory.html">추억의 공간</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>메뉴</i></a>
            <p style="color:#f9dbdb;">행복한 결혼 생활에서 중요한 것은 서로 얼마나 잘 맞는가보다 다른 점을 어떻게 극복해나가는가이다.</p>
            <p style="color:#aef1f1;">幸せな結婚生活の中で重要なのは、お互いどれだけフィットよりも、他のポイントをどのように克服していくかである</p>
            <ul class="social-buttons">
              <li><a href="https://www.instagram.com/iriyong_288"><i class="icon-instagram2"></i></a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100003799874528"><i class="icon-facebook2"></i></a></li>
              <li><a href="https://twitter.com/88airi88"><i class="icon-twitter"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->

  <div class="probootstrap-main">
    <!-- ... contents ... -->
    <section style="padding-left: 5px; padding-right: 5px;">
      <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">

          <div class="card" style="margin-bottom: 15px;">
            <div class="card-body">
              영화 (映画)
            </div>
          </div>
          <div class="card" style="padding:15px;">

            <a class="pagerLink" href="movieDetail.html">
            <div class="card" style="padding:5px; margin-bottom: 10px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="post-sum" src="img/movie_sample1.png">
                  </div>
                  <div class="col">
                    <div class="subdisplay">영화명</div>
                    <div class="fontsize90">날 보러와요</div>
                    <div class="subdisplay">장르</div>
                    <div class="fontsize90">미스터리, 스릴러</div>
                    <div class="subdisplay">개봉일</div>
                    <div class="fontsize90">2016.04.07 개봉</div>
                    <div class="subdisplay">상영시간</div>
                    <div class="fontsize90">91분</div>
                    <div class="subdisplay">국가</div>
                    <div class="fontsize90">한국</div>
                  </div>
                </div>
              </div>
            </div>
            </a>

            <a class="pagerLink" href="movieDetail.html">
            <div class="card" style="padding:5px; margin-bottom: 10px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="post-sum" src="img/movie_sample2.png">
                  </div>
                  <div class="col">
                    <div class="subdisplay">영화명</div>
                    <div class="fontsize90">신고질라</div>
                    <div class="subdisplay">장르</div>
                    <div class="fontsize90">SF, 액션, 드라마</div>
                    <div class="subdisplay">개봉일</div>
                    <div class="fontsize90">2017.03.08 개봉</div>
                    <div class="subdisplay">상영시간</div>
                    <div class="fontsize90">120분</div>
                    <div class="subdisplay">국가</div>
                    <div class="fontsize90">일본</div>
                  </div>
                </div>
              </div>
            </div>
            </a>

            <a class="pagerLink" href="movieDetail.html">
            <div class="card" style="padding:5px; margin-bottom: 10px;">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img class="post-sum" src="img/movie_sample3.png">
                  </div>
                  <div class="col">
                    <div class="subdisplay">영화명</div>
                    <div class="fontsize90">ビルギャル</div>
                    <div class="subdisplay">장르</div>
                    <div class="fontsize90">드라마</div>
                    <div class="subdisplay">개봉일</div>
                    <div class="fontsize90">2016.09.21 개봉</div>
                    <div class="subdisplay">상영시간</div>
                    <div class="fontsize90">117분</div>
                    <div class="subdisplay">국가</div>
                    <div class="fontsize90">일본</div>
                  </div>
                </div>
              </div>
            </div>
            </a>

          </div>
      </div>
    </section>
    <!-- ... contents ... -->
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>
