.hanna {
  font-family: 'Hanna', serif;
}

.black {
  color: black
}

.post-title{
  font-weight: bold;
}

.floatright{
  float:right
}

.marginbottom15{
  margin-bottom: 15px;
}

.post-sum{
  width: 100%;
}

.subdisplay{
  font-size: 80%;
  color: #aaaaaa;
}

.fontsize90{
  font-size: 90%;
}

.memory{
  width: 300px;
  margin: auto;
}

.pagerLink{
  text-decoration: none !important;
}

.marginleft5{
  margin-left: 5px;
}

.margintop10{
  margin-top: 10px;
}

.margintop20{
  margin-top: 20px;
}

.admin-menu{
  font-size: 90%;
  margin-top: 10px;
}

.dropzone{
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    padding: 30px;
}
